.FrequencyComparator_Tx_370,
.FrequencyComparator_Tx_371,
.FrequencyComparator_Tx_372,
.FrequencyComparator_Tx_373 { background-image: url('FrequencyComparator_Tx_37_icons.png'); width: 16px; height: 16px; }

.FrequencyComparator_Tx_370 { background-position: -0px; }
.FrequencyComparator_Tx_371 { background-position: -16px; }
.FrequencyComparator_Tx_372 { background-position: -32px; }
.FrequencyComparator_Tx_373 { background-position: -48px; }
