.PN_generatorV2_330,
.PN_generatorV2_331,
.PN_generatorV2_332,
.PN_generatorV2_333,
.PN_generatorV2_334 { background-image: url('PN_generatorV2_33_icons.png'); width: 16px; height: 16px; }

.PN_generatorV2_330 { background-position: -0px; }
.PN_generatorV2_331 { background-position: -16px; }
.PN_generatorV2_332 { background-position: -32px; }
.PN_generatorV2_333 { background-position: -48px; }
.PN_generatorV2_334 { background-position: -64px; }
