.PN_generatorV2_290,
.PN_generatorV2_291,
.PN_generatorV2_292,
.PN_generatorV2_293 { background-image: url('PN_generatorV2_29_icons.png'); width: 16px; height: 16px; }

.PN_generatorV2_290 { background-position: -0px; }
.PN_generatorV2_291 { background-position: -16px; }
.PN_generatorV2_292 { background-position: -32px; }
.PN_generatorV2_293 { background-position: -48px; }
